.img-logo {
    max-width: 40%;
    height: auto;
}

.container strong span {
    color: #0080ff;
}

.container .row .colour {
    background-color: black;
    opacity: 0.5;
    padding-bottom: 20px;
}

#mainNav.do-not-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.do-not-shrink .navbar-nav > li.nav-item a.nav-link:focus {
    color: black;
}

#foundation_table {
    margin-top: 270.8px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#foundation_table th, #foundation_table tr, #foundation_table td {
    padding-right: 50px;
    padding-bottom: 10px;
}

.cont {
    margin-left: 10%;
}

section {
    border-bottom: 1px solid #ccc;
}

section .col-md-3 {
    border-left: 1px solid #ccc;
}

section .col-md-3:first-child {
    border: none;
}

#sec1 {
    padding-top: 2%;
}
