//main: style.sass

.cont
    margin-left: 10%

section
  border-bottom: 1px solid #ccc


section .col-md-3
  border-left: 1px solid #ccc


section .col-md-3:first-child
  border: none

#sec1
    padding-top: 2%
