//main: style.sass

.img-logo
    max-width: 40%
    height: auto

.container
    strong
        span
            color: #0080ff
    .row
        .colour
            background-color: black
            opacity: 0.5
            padding-bottom: 20px

#mainNav
    &.do-not-shrink
        .navbar-nav > li.nav-item
            & > a.nav-link, a.nav-link:focus
                color: black
