//main: style.sass
#body-login

	background: -moz-linear-gradient(top, #b883ba 0%, #DCDCDC 100%) no-repeat
	background: -webkit-linear-gradient(top, #b883ba 0%, #DCDCDC 100%) no-repeat

	height: 725px

	.container
	    width: 320px
	    height: 400px
	    background: rgba(0, 0, 0, 0.5)
	    color: black
	    top: 50%
	    left: 50%
	    position: absolute
	    transform: translate(-50%, -50%)
	    box-sizing: border-box


	    // padding: 10px 20px

	.card-container
		font-family: Gotham-Light, Helvetica Neue
		padding-left: 65.6px

	// .card-container
	// 	text-align: center
	// 	padding-top: 10%
	.color-box
		padding: 30px 0 30px 0
		width: 500px
		margin-left: auto
		margin-right: auto
		margin-bottom: 20px

		label
			width: 100%
        	margin-bottom: 10px
			color: #fff
			margin-bottom: 7px
		img
			border-radius: 5%
	.login-logo
		width: 50%
		padding-right: 69px
		padding-bottom: 10px
		margin-left: -14px

	.profile-img-card
		width: 100px
	    height: 100px
	    border-radius: 50%
	    position: absolute
	    top: -50px
	    left: calc(50% - 50px)
	button
		border: none
		outline: none
		height: 27px
		background: #808080
		color: #fff
		font-size: 14px
		// border-radius: 5%
		margin-top: 12px
		width: 156.8px

	button:hover
		cursor: pointer
		background: #ccc
		transition: all .2s
		color: #484848



// .container
// 	.card, .card-container
// 		text-align: center
// 		padding-top: 10%
// 		font-family: Gotham-Light, Helvetica Neue
// 		.color-box
//
// 			padding: 30px 0 30px 0
// 			width: 500px
// 			margin-left: auto
// 			margin-right: auto
// 			.login-logo
// 				width: 50%
