//main: style.sass
#body-login

	background: -moz-linear-gradient(top, #b883ba 0%, #DCDCDC 100%) no-repeat

	height: 725px
	.container
		.card, .card-container
			text-align: center
			padding-top: 10%
			.color-box

				padding: 30px 0 30px 0
				width: 500px
				margin-left: auto
				margin-right: auto
				.login-logo
					width: 50%
